[submodule "implantation"]
	path = implantation
	url = git@github.com:naoufalzerai/repo1.git
[submodule "r&d"]
	path = r&d
	url = git@github.com:naoufalzerai/repo2.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:naoufalzerai/repo3.git
